:root {
  --mobile-max: 768px;
  --tablet-min: var(--mobile-max) + 1;
  --tablet-max: 1024px;
  --laptop-min: var(--tablet-max) + 1;
  --laptop-max: 1199px;
  --desktop-min: var(--laptop-max) + 10px;
}