.title {
  margin: .25em 0;
  font-weight: 800;

  .count {
    font-size: 14px;
  }
}

.cards {
  display: flex;
  flex-direction: row;
  margin-top: 1em;

  .card {
    width: 25%;
    text-align: center;
  
    .cardImg { 
      width: 90px;
      height: 90px;
      margin: .5em 0;
    }
  }
}