.columns {
  display: flex;
  flex-direction: row;
}

.primaryBox {
  border: 2px solid var(--bg-primary);

  h2 {
    color: white;
    background-color: var(--bg-primary);
    font-size: var(--text-size-body);
    font-weight: 900;
    margin: 0;
    padding: 0 .75em;
  }
}

.primaryTable {
  table {
    width: -webkit-fill-available;

    th {
      color: var(--text-primary);
      background-color: var(--bg-primary-light);
      text-align: left;
      font-size: var(--text-size-body);
      vertical-align: top;
      width: 40%;
    }

    td {
      background-color: var(--bg-primary-lightest);
      font-size: var(--text-size-body);

      ul {
        list-style: none;
        margin: .5em 0 0 0;
        padding-left: 1.25em;
    
        li:before {
          content: "\2022";
          color: var(--primary-dark);
          font-weight: bold;
          display: inline-block;
          width: 1em;
          margin-left: -1em;
        }
      }
    }
  }
}

.secondaryBox {
  h2 {
    color: var(--text-secondary);
    background-color: var(--bg-secondary-light);
    font-size: var(--text-size-body);
    font-weight: bold;
    margin: 0;
    padding: 0 1em;
  }
}

.secondaryTable {
  table {
    width: -webkit-fill-available;

    th {
      color: var(--text-primary);
      background-color: var(--bg-secondary);
      text-align: center;
      font-size: var(--text-size-body);
      vertical-align: middle;
      width: 40%;
    }

    td {
      background-color: var(--bg-secondary-light);
      font-size: var(--text-size-body);

      ul {
        list-style: none;
        margin: .5em 0 0 0;
        padding-left: 1.25em;
    
        li:before {
          content: "\2022";
          color: var(--secondary-dark);
          font-weight: bold;
          display: inline-block;
          width: 1em;
          margin-left: -1em;
        }
      }
    }
  }
}