.blueTables {
  border: 3px solid var(--bg-primary);
  padding: 0;
  
  h2 {
    font-size: 1em;
    font-weight: bold;
    color: var(--text-white);
    background-color: var(--bg-primary);
    margin: 0;
    padding: 0 1em;
  }
}