:root {
  --black: black;
  --white: white;
  --grey: #E5E5E5;
  --red: #cc0000;

  --primary-100: #D5E7FB;
  --primary-200: #B1D0F0;
  --primary-300: #3455DB;
  --primary-400: #0000B5;
  --primary-500: #000060;

  --secondary-100: #F9D6B4;
  --secondary-200: #F9D6B4;
  --secondary-300: #FF9933;
  --secondary-400: #AA2E00;
  --secondary-500: #FF6600;

  --primary-lightest: var(--primary-100);
  --primary-light: var(--primary-200);
  --primary: var(--primary-300);
  --primary-dark: var(--primary-400);
  --primary-darkest: var(--primary-500);

  --secondary-lightest: var(--secondary-100);
  --secondary-light: var(--secondary-200);
  --secondary: var(--secondary-300);
  --secondary-dark: var(--secondary-400);
  --secondary-darkest: var(--secondary-500);

  --bg-body: var(--grey);
  --bg-app: var(--white);

  --bg-primary-lightest: var(--primary-lightest);
  --bg-primary-light: var(--primary-light);
  --bg-primary: var(--primary);
  --bg-primary-dark: var(--primary-dark);
  --bg-primary-darkest: var(--primary-darkest);

  --bg-secondary-lightest: var(--secondary-lightest);
  --bg-secondary-light: var(--secondary-light);
  --bg-secondary: var(--secondary);
  --bg-secondary-dark: var(--secondary-dark);
  --bg-secondary-darkest: var(--secondary-darkest);

  --text-white: var(--white);
  --text-primary: var(--primary-dark);
  --text-secondary: var(--secondary-dark);

  --link-color: #3455DB;
  --link-color-hover: var(--red);

  --text-size-body: 12px;
  --text-size-h1: 1.5em;

  --mobile-max: 768px;
  --tablet-min: 769px;
  --tablet-max: 1024px;
  --laptop-min: 1025px;
  --laptop-max:1199px;
  --desktop-min: 1200px;
}